<!DOCTYPE html>
<html lang="en">
    <!--Heading-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STAKK</title>
    <link rel="stylesheet" type="text/css" href="stakk.css" />
    <link rel="icon" href="images/NRGlogo.png" type="image/icon" />
</head>
</head>
<!--Sidebar-->
<body class = "background">
    <div class="Heading">
        <img class="logo" src="images/NRGproperlogo.png" alt="STAKK logo" style="width:25%; margin-left: 37%;">
        <h3 class="centered">Student Version - Sam&nbsp;Timothy&nbsp;Andy&nbsp;Karikalan&nbsp;Kevin</h3> 
        <p>An extension of TeachAssist, which expands its functionality in assisting teachers with student information, assessment and student connection. It allows teachers to review students in depth allowing them to support and strengthen the needs of each student on a 1-on-1 level while being engaging and accessible.</p>
        <p class="centered">Please input student information in the correct format.</p>
    </div>
    <!--Input Form-->
    <div class = "form">
        <form method="POST" action="{{ url_for('submitform') }}">
            <input type="text" name="fullname-input" placeholder="Name (Last, first)">
            <br>
            <input type="text" name="preferredname-input" placeholder="Preferred Name">
            <br>
            <input type="text" name="pronouns-input" placeholder="Pronouns">
            <br>
            <input type="integer" name="markgoal-input" placeholder="Mark Goal">
            <br>
            <input type="text" name="job-input" placeholder="Job">
            <br>
            <input type="text" name="hobbies-input" placeholder="Hobbies">
            <br>
            <input type="text" name="personality-input" placeholder="Personality">
            <br>
            <input type="text" name="strengths-input" placeholder="Strengths">
            <br>
            <input type="text" name="weaknesses-input" placeholder="Weaknesses">
            <br>
            <input type="text" name="learningneeds-input" placeholder="Learning Needs">
            <br>
            <input type="text" name="othercomments-input" placeholder="Other Comments">
            <br>
            <button type="submit">Submit</button>

        </form>
    </div>
</body>
</html>